.Hi {
  text-align: center;
  color: blue;

}
.Greet {
  text-align: center;
  color: red;
}
.media {
  text-align: center;
  color:darkorange;
}

.gate {
  text-align: center;
  color:slateblue;
  font-size: large;
}

img {
  text-align: center;
}