body {
    max-width: 100%;
    margin: 0 auto;
} 
#header {
    max-width: 550px;
    margin: auto;
    text-align: center;

}
#header-menu {
    max-width: 500px;
    margin: auto;
    text-align: center;

}

#main-area {
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

#men-women-main, #ele-main, #acc-main {
    height: 250px;
    padding: 5px;
}
span {
    display: inline-block;
    height: inherit;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 10px;
}

#i1, #i2, #i3, #i4, #i5, #i6 {
    height: 250px;
    width: 250px;
    padding: 1px;
}

#footer {
    text-align: center;
}

 /* Dropdown Button */
 .dropbtn {
    background-color: orange;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: 10px;
    word-spacing: 100px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;} 